<app-grid>
    <app-row customStyles="padding: 0px;">
        <app-col col_span="12">
            <div class="table-responsive ">
                <table class="table caption-top">
                    <caption *ngIf="hasTitle" style="font-size: large; font-weight: bold">{{ title }}</caption>
                    <thead>
                        <tr>
                            <th *ngFor="let header of headers" scope="col">{{header}}</th>
                            <th *ngIf="enableActions" scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let datum of data | paginate: paginationConfig" [ngClass]="{ 'table-danger': showDataDanger(datum) }">
                            <td *ngFor="let prop of property">
                                <ng-container *ngIf="isCurrencyProperty(prop)">
                                    {{ datum[getProperty(prop)] | customCurrency }}                                    
                                </ng-container>
                                <ng-container *ngIf="isDateProperty(prop)">
                                    {{ datum[getProperty(prop)] | customDate }}                                    
                                </ng-container>
                                <ng-container *ngIf="hasNoProperty(prop)" #default>
                                    {{ datum[getProperty(prop)] }}
                                </ng-container>
                            </td>

                            <td colspan="3" *ngIf="showDataDanger(datum)">
                                <div class="alert alert-danger" role="alert">
                                    {{ getAlertMessage(datum) }}
                                </div>
                            </td>

                            <td *ngIf="enableActions">
                                <button *ngIf="enableActionView" (click)="onView(datum)" type="button" class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="faEye"></fa-icon></button>
                                <button *ngIf="enableActionEdit" (click)="onEdit(datum)" type="button" class="btn btn-success btn-sm">
                                    <fa-icon [icon]="faEdit"></fa-icon></button>
                                <button *ngIf="enableActionDelete" (click)="onDelete(datum)" type="button" class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="faTrash"></fa-icon></button>
                                <button *ngIf="enableCustomAction" (click)="onCustom(datum)" type="button" [class]="customActionClass" >
                                    <fa-icon [icon]="customActionIcon"></fa-icon>
                                    {{customActionText}}</button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                <div class="d-flex justify-content-center" *ngIf="showPagination">
                    <pagination-controls 
                        (pageChange)="onPageChange($event)" 
                        >
                    </pagination-controls>
                    
                    
                </div>
                
                
            </div>            
        </app-col>
    </app-row>
</app-grid>