<div class="card mt-2 bg-light mb-3 ">
    <h5 class="card-header" style="color: var(--rgr-red); text-shadow: 1px 1px 2px pink;">Statement</h5>
    <div class="card-body">
        <app-alert></app-alert>
        <app-grid customClasses="justify-content-md-center">
            <app-row customClasses="mt-3">
                <app-col col_span="12">
                    <app-table [headers]="['Origem', 'Destino', 'Valor' ]"
                          [property]="['source', 'destination', 'amount | customCurrency']" 
                          [data]='schedules'
                          [enableActionView]="true"
                          [enableActionDelete]="true"
                          [enableActionEdit]="true"
                           />
                </app-col>
            </app-row>
        </app-grid>
    </div>


</div>