
<app-grid >
    <app-row>
        <app-col col_span="8" customStyles='background-color: pink'>
            pink
        </app-col>
        <app-col col_span="4" customStyles='background-color: red'>
            red
        </app-col>
    </app-row>
    <app-row>
        <app-col col_span="2" customStyles='background-color: pink'>
            pink
        </app-col>
        <app-col col_span="10" customStyles='background-color: red'>
            red
        </app-col>
    </app-row>

</app-grid>

